/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
   --rt: color-mix(in srgb, var(--mn), #888 20%);
   --hv: color-mix(in srgb, var(--mn), #666 40%);
   --at: color-mix(in srgb, var(--mn), #57f800 40%);
   --dt: color-mix(in srgb, var(--mn), #00abff 40%);
   --db: color-mix(in srgb, var(--mn), #6e6e6e96 80%);
   --ac: #0f0;
   --al: #fff000;
   --er: red;
   --wh: #fff;
   --bk: #000;
   --sf_wh: #d6d6d6;
   --sf_bk: #3b3b3b;
}
* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-tap_highlight-color: transparent;
   outline: 0;
   border: 0;
   padding: 0;
   margin: 0;
   background-color: transparent;
   scroll-behavior: smooth;
}
[data-rt*="bg_mn"],
[data-rt*="bg_hv_mn"]:hover,
[data-rt*="thb_hv_mn"] th:hover,
[data-rt*="bt_at_mn"]:active,
[data-rt*="thb_e_mn"] th:nth-child(even),
[data-rt*="thb_o_mn"] th:nth-child(odd),
[data-rt*="tdb_hv_mn"] td:hover,
[data-rt*="tdb_e_mn"] td:nth-child(even),
[data-rt*="tbb_o_mn"] td:nth-child(odd),
[data-rt*="trb_hv_mn"] tr:hover,
[data-rt*="trb_e_mn"] tr:nth-child(even),
[data-rt*="trb_o_mn"] td:nth-child(odd) {
   background-color: var(--mn);
}
[data-rt*="bg_rt"],
[data-rt*="bg_hv_rt"]:hover,
[data-rt*="bt_at_rt"]:active,
[data-rt*="thb_hv_rt"] th:hover,
[data-rt*="thb_e_rt"] th:nth-child(even),
[data-rt*="thb_o_rt"] th:nth-child(odd),
[data-rt*="tdb_hv_rt"] td:hover,
[data-rt*="tdb_e_rt"] td:nth-child(even),
[data-rt*="tdb_o_rt"] td:nth-child(odd),
[data-rt*="trb_hv_rt"] tr:hover,
[data-rt*="trb_e_rt"] tr:nth-child(even),
[data-rt*="trb_o_rt"] tr:nth-child(odd) {
   background-color: var(--rt);
}
[data-rt*="bg_ac"],
[data-rt*="bg_hv_ac"]:hover,
[data-rt*="bt_at_ac"]:active,
[data-rt*="thb_hv_ac"] th:hover,
[data-rt*="thb_e_ac"] th:nth-child(even),
[data-rt*="thb_o_ac"] th:nth-child(odd),
[data-rt*="tdb_hv_ac"] td:hover,
[data-rt*="tdb_e_ac"] td:nth-child(even),
[data-rt*="tdb_o_ac"] td:nth-child(odd),
[data-rt*="trb_hv_ac"] tr:hover,
[data-rt*="trb_e_ac"] tr:nth-child(even),
[data-rt*="trb_o_ac"] tr:nth-child(odd) {
   background-color: var(--ac);
}
[data-rt*="bg_er"],
[data-rt*="bg_hv_er"]:hover,
[data-rt*="bt_at_er"]:active,
[data-rt*="thb_hv_er"] th:hover,
[data-rt*="thb_e_er"] th:nth-child(even),
[data-rt*="thb_o_er"] th:nth-child(odd),
[data-rt*="tdb_hv_er"] td:hover,
[data-rt*="tdb_e_er"] td:nth-child(even),
[data-rt*="tdb_o_er"] td:nth-child(odd),
[data-rt*="trb_hv_er"] tr:hover,
[data-rt*="trb_e_er"] tr:nth-child(even),
[data-rt*="trb_o_er"] tr:nth-child(odd) {
   background-color: var(--er);
}
[data-rt*="bg_al"],
[data-rt*="bg_hv_al"]:hover,
[data-rt*="bt_at_al"]:active,
[data-rt*="thb_hv_al"] th:hover,
[data-rt*="thb_e_al"] th:nth-child(even),
[data-rt*="thb_o_al"] th:nth-child(odd),
[data-rt*="tdb_hv_al"] td:hover,
[data-rt*="tdb_e_al"] td:nth-child(even),
[data-rt*="tdb_o_al"] td:nth-child(odd),
[data-rt*="trb_hv_al"] tr:hover,
[data-rt*="trb_e_al"] tr:nth-child(even),
[data-rt*="trb_o_al"] tr:nth-child(odd) {
   background-color: var(--al);
}
[data-rt*="bg_dt"],
[data-rt*="bg_hv_dt"]:hover,
[data-rt*="thb_hv_dt"] th:hover,
[data-rt*="thb_e_dt"] th:nth-child(even),
[data-rt*="thb_o_dt"] th:nth-child(odd),
[data-rt*="tdb_hv_dt"] td:hover,
[data-rt*="tdb_e_dt"] td:nth-child(even),
[data-rt*="tdb_o_dt"] td:nth-child(odd),
[data-rt*="trb_hv_dt"] tr:hover,
[data-rt*="trb_e_dt"] tr:nth-child(even),
[data-rt*="trb_o_dt"] tr:nth-child(odd) {
   background-color: var(--dt);
}
[data-rt*="bg_hv"]:hover,
[data-rt*="bg_hv_hv"]:hover,
[data-rt*="bt_at_hv"]:active,
[data-rt*="thb_hv_hv"] th:hover,
[data-rt*="thb_e_hv"] th:nth-child(even),
[data-rt*="thb_o_hv"] th:nth-child(odd),
[data-rt*="tdb_hv_hv"] td:hover,
[data-rt*="tdb_e_hv"] td:nth-child(even),
[data-rt*="tdb_o_hv"] td:nth-child(odd),
[data-rt*="trb_hv_hv"] tr:hover,
[data-rt*="trb_e_hv"] tr:nth-child(even),
[data-rt*="trb_o_hv"] tr:nth-child(odd) {
   background-color: var(--hv);
}
[data-rt*="bg_at"],
[data-rt*="bg_hv_at"]:hover,
[data-rt*="bt_at_at"]:active,
[data-rt*="thb_hv_at"] th:hover,
[data-rt*="thb_e_at"] th:nth-child(even),
[data-rt*="thb_o_at"] th:nth-child(odd),
[data-rt*="tdb_hv_at"] td:hover,
[data-rt*="tdb_e_at"] td:nth-child(even),
[data-rt*="tdb_o_at"] td:nth-child(odd),
[data-rt*="trb_hv_at"] tr:hover,
[data-rt*="trb_e_at"] tr:nth-child(even),
[data-rt*="trb_o_at"] tr:nth-child(odd) {
   background-color: var(--at);
}
[data-rt*="bg_wh"],
[data-rt*="bg_hv_wh"]:hover,
[data-rt*="bt_at_wh"]:active,
[data-rt*="thb_hv_wh"] th:hover,
[data-rt*="thb_e_wh"] th:nth-child(even),
[data-rt*="thb_o_wh"] th:nth-child(odd),
[data-rt*="tdb_hv_wh"] td:hover,
[data-rt*="tdb_e_wh"] td:nth-child(even),
[data-rt*="tdb_o_wh"] td:nth-child(odd),
[data-rt*="trb_hv_wh"] tr:hover,
[data-rt*="trb_e_wh"] tr:nth-child(even),
[data-rt*="trb_o_wh"] tr:nth-child(odd) {
   background-color: var(--wh);
}
[data-rt*="bg_bk"],
[data-rt*="bg_hv_bk"]:hover,
[data-rt*="bt_at_bk"]:active,
[data-rt*="thb_hv_bk"] th:hover,
[data-rt*="thb_e_bk"] th:nth-child(even),
[data-rt*="thb_o_bk"] th:nth-child(odd),
[data-rt*="tdb_hv_bk"] td:hover,
[data-rt*="tdb_e_bk"] td:nth-child(even),
[data-rt*="tdb_o_bk"] td:nth-child(odd),
[data-rt*="trb_hv_bk"] tr:hover,
[data-rt*="trb_e_bk"] tr:nth-child(even),
[data-rt*="trb_o_bk"] tr:nth-child(odd) {
   background-color: var(--bk);
}
[data-rt*="bg_sf_wh"],
[data-rt*="bg_hv_sf_wh"]:hover,
[data-rt*="bt_at_sf_wh"]:active,
[data-rt*="thb_hv_sf_wh"] th:hover,
[data-rt*="thb_e_sf_wh"] th:nth-child(even),
[data-rt*="thb_o_sf_wh"] th:nth-child(odd),
[data-rt*="tdb_hv_sf_wh"] td:hover,
[data-rt*="tdb_e_sf_wh"] td:nth-child(even),
[data-rt*="tdb_o_sf_wh"] td:nth-child(odd),
[data-rt*="trb_hv_sf_wh"] tr:hover,
[data-rt*="trb_e_sf_wh"] tr:nth-child(even),
[data-rt*="trb_o_sf_wh"] tr:nth-child(odd) {
   background-color: var(--sf_wh);
}
[data-rt*="bg_sf_bk"],
[data-rt*="bg_hv_sf_bk"]:hover,
[data-rt*="bt_at_sf_bk"]:active,
[data-rt*="thb_hv_sf_bk"] th:hover,
[data-rt*="thb_e_sf_bk"] th:nth-child(even),
[data-rt*="thb_o_sf_bk"] th:nth-child(odd),
[data-rt*="tdb_hv_sf_bk"] td:hover,
[data-rt*="tdb_e_sf_bk"] td:nth-child(even),
[data-rt*="tdb_o_sf_bk"] td:nth-child(odd),
[data-rt*="trb_hv_sf_bk"] tr:hover,
[data-rt*="trb_e_sf_bk"] tr:nth-child(even),
[data-rt*="trb_o_sf_bk"] tr:nth-child(odd) {
   background-color: var(--sf_bk);
}
[data-rt*="bg_db"],
[data-rt*="bg_hv_db"]:hover,
[data-rt*="bt_db"]:disabled,
[data-rt*="thb_hv_db"] th:hover,
[data-rt*="thb_e_db"] th:nth-child(even),
[data-rt*="thb_o_db"] th:nth-child(odd),
[data-rt*="tdb_hv_db"] td:hover,
[data-rt*="tdb_e_db"] td:nth-child(even),
[data-rt*="tdb_o_db"] td:nth-child(odd),
[data-rt*="trb_hv_db"] tr:hover,
[data-rt*="trb_e_db"] tr:nth-child(even),
[data-rt*="trb_o_db"] tr:nth-child(odd) {
   background-color: var(--db);
}
[data-rt*="cr_mn"],
[data-rt*="cr_hv_mn"]:hover,
[data-rt*="thc_mn"] th,
[data-rt*="thc_hv_mn"] th:hover,
[data-rt*="tdc_mn"] td,
[data-rt*="tdc_hv_mn"] td:hover {
   color: var(--mn);
}
[data-rt*="cr_rt"],
[data-rt*="cr_hv_rt"]:hover,
[data-rt*="thc_rt"] th,
[data-rt*="thc_hv_rt"] th:hover,
[data-rt*="tdc_rt"] td,
[data-rt*="tdc_hv_rt"] td:hover {
   color: var(--rt);
}
[data-rt*="cr_at"],
[data-rt*="cr_hv_at"]:hover,
[data-rt*="thc_at"] th,
[data-rt*="thc_hv_at"] th:hover,
[data-rt*="tdc_at"] td,
[data-rt*="tdc_hv_at"] td:hover {
   color: var(--at);
}
[data-rt*="cr_ac"],
[data-rt*="cr_hv_ac"]:hover,
[data-rt*="thc_ac"] th,
[data-rt*="thc_hv_ac"] th:hover,
[data-rt*="tdc_ac"] td,
[data-rt*="tdc_hv_ac"] td:hover {
   color: var(--ac);
}
[data-rt*="cr_er"],
[data-rt*="cr_hv_er"]:hover,
[data-rt*="thc_er"] th,
[data-rt*="thc_hv_er"] th:hover,
[data-rt*="tdc_er"] td,
[data-rt*="tdc_hv_er"] td:hover {
   color: var(--er);
}
[data-rt*="cr_al"],
[data-rt*="cr_hv_al"]:hover,
[data-rt*="thc_al"] th,
[data-rt*="thc_hv_al"] th:hover,
[data-rt*="tdc_al"] td,
[data-rt*="tdc_hv_al"] td:hover {
   color: var(--al);
}
[data-rt*="cr_dt"],
[data-rt*="cr_hv_dt"]:hover,
[data-rt*="thc_dt"] th,
[data-rt*="thc_hv_dt"] th:hover,
[data-rt*="tdc_dt"] td,
[data-rt*="tdc_hv_dt"] td:hover {
   color: var(--dt);
}
[data-rt*="cr_wh"],
[data-rt*="cr_hv_wh"]:hover,
[data-rt*="thc_wh"] th,
[data-rt*="thc_hv_wh"] th:hover,
[data-rt*="tdc_wh"] td,
[data-rt*="tdc_hv_wh"] td:hover {
   color: var(--wh);
}
[data-rt*="cr_bk"],
[data-rt*="cr_hv_bk"]:hover,
[data-rt*="thc_bk"] th,
[data-rt*="thc_hv_bk"] th:hover,
[data-rt*="tdc_bk"] td,
[data-rt*="tdc_hv_bk"] td:hover {
   color: var(--bk);
}
[data-rt*="cr_sf_wh"],
[data-rt*="cr_hv_sf_wh"]:hover,
[data-rt*="thc_sf_wh"] th,
[data-rt*="thc_hv_sf_wh"] th:hover,
[data-rt*="tdc_sf_wh"] td,
[data-rt*="tdc_hv_sf_wh"] td:hover {
   color: var(--sf_wh);
}
[data-rt*="cr_sf_bk"],
[data-rt*="cr_hv_sf_bk"]:hover,
[data-rt*="thc_sf_bk"] th,
[data-rt*="thc_sf_bk"] th:hover,
[data-rt*="tdc_sf_bk"] td,
[data-rt*="tdc_sf_bk"] td:hover {
   color: var(--sf_bk);
}
[data-rt*="cr_db"],
[data-rt*="cr_hv_db"]:hover,
[data-rt*="thc_db"] th,
[data-rt*="thc_hv_db"] th:hover,
[data-rt*="tdc_db"] td,
[data-rt*="tdc_hv_db"] td:hover {
   color: var(--db);
}
[data-rt*="bd_mn"] {
   border-color: var(--mn);
}
[data-rt*="bd_rt"] {
   border-color: var(--rt);
}
[data-rt*="bd_hv"]:hover {
   border-color: var(--at);
}
[data-rt*="bd_at"] {
   border-color: var(--hv);
}
[data-rt*="bd_ac"] {
   border-color: var(--ac);
}
[data-rt*="bd_al"] {
   border-color: var(--al);
}
[data-rt*="bd_er"] {
   border-color: var(--er);
}
[data-rt*="bd_wh"] {
   border-color: var(--off_wh);
}
[data-rt*="bd_bk"] {
   border-color: var(--off_bk);
}
[data-rt*="bd_off_wh"] {
   border-color: var(--wh);
}
[data-rt*="bd_off_bk"] {
   border-color: var(--bk);
}
[data-rt*="bd_hv_mn"]:hover {
   border-color: var(--mn);
}
[data-rt*="bd_hv_rt"]:hover {
   border-color: var(--rt);
}
[data-rt*="bd_hv_at"]:hover {
   border-color: var(--at);
}
[data-rt*="bd_hv_ac"]:hover {
   border-color: var(--ac);
}
[data-rt*="bd_hv_al"]:hover {
   border-color: var(--al);
}
[data-rt*="bd_hv_er"]:hover {
   border-color: var(--er);
}
[data-rt*="bd_hv_dt"]:hover {
   border-color: var(--dt);
}
[data-rt*="bd_hv_wh"]:hover {
   border-color: var(--wh);
}
[data-rt*="bd_hv_bk"]:hover {
   border-color: var(--bk);
}
[data-rt*="bd_hv_sf_wh"]:hover {
   border-color: var(--sf_wh);
}
[data-rt*="bd_hv_sf_bk"]:hover {
   border-color: var(--sf_bk);
}
[data-rt*="bds_nn"] {
   border-style: none;
}
[data-rt*="bds_hd"] {
   border-style: hidden;
}
[data-rt*="bds_dt"] {
   border-style: dotted;
}
[data-rt*="bds_ds"] {
   border-style: dashed;
}
[data-rt*="bds_sd"] {
   border-style: solid;
}
[data-rt*="bds_db"] {
   border-style: double;
}
[data-rt*="bds_gv"] {
   border-style: groove;
}
[data-rt*="bds_rg"] {
   border-style: ridge;
}
[data-rt*="bds_is"] {
   border-style: inset;
}
[data-rt*="bds_os"] {
   border-style: outset;
}
[data-rt*="bcl"] {
   border-collapse: collapse;
}
[data-rt*="bsp"] {
   border-collapse: separate;
}
[data-rt*="ft_lt"] {
   font_weight: lighter;
}
[data-rt*="ft_nm"] {
   font-weight: normal;
}
[data-rt*="ft_bd"] {
   font-weight: bold;
}
[data-rt*="ft_br"] {
   font-weight: bolder;
}
[data-rt*="tta_l"] {
   text-align: left;
}
[data-rt*="tta_r"] {
   text-align: right;
}
[data-rt*="tta_c"] {
   text-align: center;
}
[data-rt*="tta_jt"] {
   text-align: justify;
}
[data-rt*="ps_ab"] {
   position: absolute;
}
[data-rt*="ps_rl"] {
   position: relative;
}
[data-rt*="ps_fx"] {
   position: fixed;
}
[data-rt*="ps_st"] {
   position: static;
}
[data-rt*="ps_sk"] {
   position: sticky;
}
[data-rt*="ps_in"] {
   position: initial;
}
[data-rt*="ps_it"] {
   position: inherit;
}
[data-rt*="ttd_nn"] {
   text-decoration: none;
}
[data-rt*="ttd_un"] {
   text-decoration: underline;
}
[data-rt*="ttd_ov"] {
   text-decoration: overline;
}
[data-rt*="ttd_th"] {
   -webkit-text-decoration: line-through;
   text-decoration: line-through;
}
[data-rt*="ttd_un_ov"] {
   text-decoration: underline overline;
}
[data-rt*="ttd_ov_un"] {
   text-decoration: underline overline;
}
[data-rt*="fl_r"] {
   float: right;
}
[data-rt*="fl_l"] {
   float: left;
}
[data-rt*="clr_b"] {
   clear: both;
}
[data-rt*="clr_r"] {
   clear: right;
}
[data-rt*="clr_l"] {
   clear: left;
}
[data-rt*="dc_r"] {
   direction: rtl;
}
[data-rt*="dc_l"] {
   direction: ltr;
}
[data-rt*="fxd_c"] {
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
}
[data-rt*="fxd_r"] {
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
}
[data-rt*="fxd_cr"] {
   -webkit-box-orient: vertical;
   -webkit-box-direction: reverse;
   -ms-flex-direction: column-reverse;
   flex-direction: column-reverse;
}
[data-rt*="fxd_rr"] {
   -webkit-box-orient: horizontal;
   -webkit-box-direction: reverse;
   -ms-flex-direction: row-reverse;
   flex-direction: row-reverse;
}
[data-rt*="fxw_wp"] {
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}
[data-rt*="fxw_nw"] {
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
}
[data-rt*="alc_c"] {
   -ms-flex-line-pack: center;
   align-content: center;
}
[data-rt*="alc_fe"] {
   -ms-flex-line-pack: end;
   align-content: flex-end;
}
[data-rt*="alc_fs"] {
   -ms-flex-line-pack: start;
   align-content: flex-start;
}
[data-rt*="alc_sa"] {
   -ms-flex-line-pack: space-around;
   align-content: space-around;
}
[data-rt*="alc_sb"] {
   -ms-flex-line-pack: space-between;
   align-content: space-between;
}
[data-rt*="alc_s"] {
   -ms-flex-line-pack: stretch;
   align-content: stretch;
}
[data-rt*="ali_c"] {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}
[data-rt*="ali_fs"] {
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: flex-start;
}
[data-rt*="ali_fe"] {
   -webkit-box-align: end;
   -ms-flex-align: end;
   align-items: flex-end;
}
[data-rt*="ali_s"] {
   -webkit-box-align: stretch;
   -ms-flex-align: stretch;
   align-items: stretch;
}
[data-rt*="ali_b"] {
   -webkit-box-align: baseline;
   -ms-flex-align: baseline;
   align-items: baseline;
}
[data-rt*="jfc_c"] {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}
[data-rt*="jfc_fs"] {
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   justify-content: flex-start;
}
[data-rt*="jfc_fe"] {
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: flex-end;
}
[data-rt*="jfc_sa"] {
   -ms-flex-pack: distribute;
   justify-content: space-around;
}
[data-rt*="jfc_sb"] {
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}
[data-rt*="jfc_se"] {
   -webkit-box-pack: space-evenly;
   -ms-flex-pack: space-evenly;
   justify-content: space-evenly;
}
[data-rt*="of_vb"] {
   overflow: visible;
}
[data-rt*="of_hd"] {
   overflow: hidden;
}
[data-rt*="of_sc"] {
   overflow: scroll;
}
[data-rt*="of_at"] {
   overflow-x: auto;
}
[data-rt*="ofx_vb"] {
   overflow-x: visible;
}
[data-rt*="ofx_hd"] {
   overflow-x: hidden;
}
[data-rt*="ofx_sc"] {
   overflow-x: scroll;
}
[data-rt*="ofx_at"] {
   overflow-x: auto;
}
[data-rt*="ofy_vb"] {
   overflow-y: visible;
}
[data-rt*="ofy_hd"] {
   overflow-y: hidden;
}
[data-rt*="ofy_sc"] {
   overflow-y: scroll;
}
[data-rt*="ofy_at"] {
   overflow-y: auto;
}
[data-rt="atc_mn"],
[data-rt="atc_hv_mn"] {
   accent-color: var(--mn);
}
[data-rt="atc_rt"],
[data-rt="atc_hv_rt"] {
   accent-color: var(--rt);
}
[data-rt="atc_hv"],
[data-rt="atc_hv_hv"] {
   accent-color: var(--hv);
}
[data-rt="atc_at"],
[data-rt="atc_hv_at"] {
   accent-color: var(--at);
}
[data-rt="atc_ac"],
[data-rt="atc_hv_ac"] {
   accent-color: var(--ac);
}
[data-rt="atc_dt"],
[data-rt="atc_hv_dt"] {
   accent-color: var(--dt);
}
[data-rt="atc_al"],
[data-rt="atc_hv_al"] {
   accent-color: var(--al);
}
[data-rt="atc_er"],
[data-rt="atc_hv_er"] {
   accent-color: var(--er);
}
[data-rt="atc_wh"],
[data-rt="atc_hv_wh"] {
   accent-color: var(--wh);
}
[data-rt="atc_bk"],
[data-rt="atc_hv_bk"] {
   accent-color: var(--vk);
}
[data-rt="atc_sf_wh"],
[data-rt="atc_hv_sf_wh"] {
   accent-color: var(--sf_wh);
}
[data-rt="atc_sf_bk"],
[data-rt="atc_hv_sf_bk"] {
   accent-color: var(--sf_bk);
}
[data-rt="atc_db"],
[data-rt="atc_hv_db"] {
   accent-color: var(--db);
}
[data-rt*="ojf_fl"] {
   -o-object-fit: fill;
   object-fit: fill;
}
[data-rt*="ojf_cv"] {
   -o-object-fit: cover;
   object-fit: cover;
}
[data-rt*="ojf_ct"] {
   -o-object-fit: contain;
   object-fit: contain;
}
[data-rt*="ojf_sld"] {
   -o-object-fit: scale-down;
   object-fit: scale-down;
}
[data-rt*="ojf_nn"] {
   -o-object-fit: none;
   object-fit: none;
}

[data-tlt] {
   position: relative;
   display: inline-block;
}
[data-tlt]:after,
[data-tlt]:before {
   position: absolute;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all ease 400ms;
   -o-transition: all ease 400ms;
   transition: all ease 400ms;
   left: 50%;
   -webkit-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
}
[data-tlt]:before {
   content: attr(data-tlt);
   color: var(--tltc);
   bottom: calc(100% + 10px);
   text-align: center;
   padding: 5px;
   border-radius: 5px;
   background-color: var(--tltb);
   width: var(--tltw);
}
[data-tlt]:after {
   content: "";
   bottom: calc(100% - 10px);
   border: 10px solid;
   border-color: var(--tltb) #0000 #0000 #0000;
}
[data-tlt]:hover:before,
[data-tlt]:hover:after {
   opacity: 1;
   visibility: visible;
}
[data-rt*="sdc"] {
   overflow: hidden;
   width: 100%;
}
[data-rt*="act"] {
   -webkit-transform: translateX(0);
   -ms-transform: translateX(0);
   transform: translateX(0);
}
ul.nav-con {
   display: none;
}
ul.show {
   display: block;
}
[data-rt*="stb"] + * {
   display: none;
}
[data-rt*="stb"].tg + * {
   display: block;
}
